<%- include('header') %>
<div class="Result">
    <% if(error){ %>
    <%= error %>
    <% }else { %>
    <span><%= quantidade %>$</span>
    na cotação
    <span><%= cotacao %></span> é igual a: <span><%= conversao %>R$</span>
    <% } %>
</div>
<%- include('footer') %>