<%- include('header') %>
<div class="alert alert-success" role="alert">

    <div class="result">
        <% if(error){ %>
        <%= error %>
        <% }else { %>
        <span><%= quantidade %>$</span>
        na cotação
        <span><%= cotacao %></span> é igual a: <span><%= conversao %>R$</span>
        <% } %>
    </div>

</div>
<%- include('footer') %>